<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
</head>
<body>
<div>
    欢迎：{{user}}
</div>
<div>
    <table border="1">
        <tr>
            <td>教室\时间</td>
            {% for i in time_list%}
            <td>{{i.1}}</td>
            {% endfor %}
        </tr>
         {% for item in room_list%}
        <tr>
            <td>{{item.1}}</td>
            {% for t in range(time_range)%}
            <td>
                <button>可预订</button>
            </td>
            {% endfor %}
        </tr>
           {% endfor %}
    </table>
</div>
</body>
</html>